body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #151837, #de3168);
  font-family: "Arial", sans-serif;
  color: #0f0;
}

.logo {
  position: absolute;
  top: -40px;
  left: -30px;
  width: 110px;
  height: 100px;
  margin: 20px;
}

.logo:hover {
  opacity: 0.8;
  transition: opacity 0.3s;
}

#gameCanvas {
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 0 4px 10px rgba(218, 211, 11, 0.5);
  max-width: 100%;
  max-height: 100vh;
}

#gameInfo {
  position: absolute;
  top: 50px;
  left: 10px;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px 10px;
  border-radius: 5px;
}

#startButton,
#restartButton {
  position: absolute;
  font-size: 24px;
  padding: 10px 20px;
  background-color: rgb(213, 250, 7);
  color: #000;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

#startButton:hover,
#restartButton:hover {
  background-color: #38a22c;
  transform: scale(1.05);
}

#gameOver {
  position: absolute;
  top: 60%;
  left: 38%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: #f00;
  display: none;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  animation: popIn 0.3s forwards;
}

#instructions {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 200px;
  padding: 10px;
  font-weight: 700;
  text-decoration: solid;
}

#instructionsList {
  border: 1px solid rgb(228, 239, 228);
  padding: 10px;
  background-color: rgb(204, 18, 114);
  color: #000;
  display: none;
}

#instructionsTitle {
  border: 1px solid rgb(117, 41, 92);
  padding: 10px;
  background-color: rgb(189, 198, 20);
  color: #000;
  cursor: pointer;
}

#highScore {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 22px;
  color: #d8fd05;
}

#finalScore {
  font-size: 24px;
  margin-top: 20px;
}

@keyframes popIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  #instructions {
    top: 0;
    right: 10px;
    width: 200px;
  }
  #gameInfo,
  #highScore {
    font-size: 14px;
  }
}