/* General Styles */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #1b1e48, #000000);
  font-family: "Arial", sans-serif;
  color: rgb(5, 160, 238);
  overflow: hidden;
  width: 100vw;
}

h1 {
  color: #eaeef2;
  text-align: center;
  border-bottom: 2px solid #3498db;
  padding-bottom: 20px;
  margin-top: 50px;
}

h2 {
  color: #125989;
}

.section {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  color: #eaeef2;
  box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.2);
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-bottom: 15px;
  padding-left: 25px;
  position: relative;
}

li::before {
  content: "•";
  color: #e74c3c;
  font-weight: bold;
  position: absolute;
  left: 0;
}

a.home-link {
  text-decoration: none;
  color: #ebeef0;
  font-size: 20px;
  background-color: #243fed;
  padding: 10px 15px;
  border-radius: 15px;
  position: absolute;
  top: 20px;
  left: 20px;
}

/* Snowflake Styles */
.snowflakes {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: -1;
}

.snowflake {
  --size: 1vw;
  background: url('https://github.com/Jay-1409/Jay_Shah_Portfolio/blob/main/public/Static/Images/SnowFlake.png?raw=true') no-repeat center center;
  width: calc(4 * var(--size));
  height: calc(4 * var(--size));
  background-size: cover;
  position: absolute;
  top: -5vh;
  z-index: -1;
  animation: snowfall 100s linear infinite;
}

/* Keyframes for snowflake animation */
@keyframes snowfall {
  0% {
      transform: translate3d(var(--left-ini), 0, 0);
  }
  100% {
      transform: translate3d(var(--left-end), 80vh, 0);
  }
}

/* Individual snowflake variations */
.snowflake:nth-child(1) {
  --size: 0.8vw;
  --left-ini: 4vw;
  --left-end: 2vw;
  left: 55vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(2) {
  --size: 0.8vw;
  --left-ini: 5vw;
  --left-end: 5vw;
  left: 63vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(3) {
  --size: 0.6vw;
  --left-ini: 3vw;
  --left-end: 1vw;
  left: 47vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(4) {
  --size: 0.8vw;
  --left-ini: -4vw;
  --left-end: 6vw;
  left: 29vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(5) {
  --size: 1vw;
  --left-ini: -6vw;
  --left-end: 2vw;
  left: 71vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(6) {
  --size: 0.6vw;
  --left-ini: 2vw;
  --left-end: 4vw;
  left: 38vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(7) {
  --size: 0.8vw;
  --left-ini: 5vw;
  --left-end: -2vw;
  left: 22vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(8) {
  --size: 0.4vw;
  --left-ini: -1vw;
  --left-end: 3vw;
  left: 50vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(9) {
  --size: 0.6vw;
  --left-ini: 6vw;
  --left-end: -6vw;
  left: 15vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -4s;
}

.snowflake:nth-child(10) {
  --size: 1vw;
  --left-ini: 7vw;
  --left-end: 1vw;
  left: 65vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -6s;
}

/* Apply blur to every 6th snowflake */
.snowflake:nth-child(6n) {
  filter: blur(1px);
}
