@font-face {
    font-family: 'Press Start 2P', cursive;
    src: url(Rio.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Press Start 2P', cursive;
}

body {
    background-color: #000;
    overflow-x: hidden;
    text-align: center;
    background-image: url(https://i.pinimg.com/originals/53/8a/c9/538ac930eb61e5909f1170898cea5c04.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    text-align: center;
}

.spaceship-animation {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    overflow: hidden;
}
#instructionsList{
    color: white;
    padding: 20%;
   
    margin-right: -50%;
}

#instructionsTitle{

    padding: 20px;
    margin-left: -10%;
    margin-top: -100%;
}

#signupButton{

    padding: 20px;
    margin-left: -10%;
    margin-top: -5%;

}

/* Spaceship and alien animation - moving vertically */
.spaceship {
    position: absolute;
    width: 80px;
    height: 50px;
    background: url('spaceship.webp') no-repeat center center;
    background-size: contain;
    animation: fly-vertical 10s infinite linear;
}

.spaceship1 {
    left: 5%;
    top: -100px;
    animation-delay: 0s;
}

.spaceship2 {
    left: 15%;
    top: -150px;
    animation-delay: 1s;
}

.spaceship3 {
    left: 25%;
    top: -200px;
    animation-delay: 2s;
}

.spaceship4 {
    left: 35%;
    top: -250px;
    animation-delay: 3s;
}

.spaceship5 {
    left: 45%;
    top: -300px;
    animation-delay: 4s;
}

.spaceship6 {
    left: 55%;
    top: -350px;
    animation-delay: 5s;
}

.spaceship7 {
    left: 65%;
    top: -400px;
    animation-delay: 6s;
}

.spaceship8 {
    left: 75%;
    top: -450px;
    animation-delay: 7s;
}

.spaceship9 {
    left: 85%;
    top: -500px;
    animation-delay: 8s;
}

.spaceship10 {
    left: 95%;
    top: -550px;
    animation-delay: 9s;
}

/* Animation for vertical movement (top to bottom) */
@keyframes fly-vertical {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(110vh);
    }
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}


.mute-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    outline: none;
    margin-top: 200%;
}

.mute-btn:hover {
    transform: scale(1.1);
}


.game-description {
    font-size: 1.2rem;
    width: 60%;
    margin-bottom: 2rem;
    opacity: 1;
    background-color: orange;
    
    padding: 20px;
    border-radius: 30px;
    transform: translateY(30px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.game-description:hover{
    transform: scale(1.1);
}

.start-btn {
    padding: 10px 30px;
    background-color: orange;
    color: white;
    font-size: 1.5rem;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.start-btn:hover {
    background-color: darkorange;
    transform: scale(1.1);
}

/* Scroll reveal effect for description */
.reveal {
    opacity: 1;
    transform: translateY(0);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
