body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #2d0232, #0d0722);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
  }

  .signup-form-container {
    background-color: white;
    width: 100%;
    max-width: 400px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
  }

  h2 {
    text-align: center;
    color: #007bff;
    font-size: 2.5em;
    margin-bottom: 20px;
  }

  label {
    
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
    display: block;
    border-radius: 20px;
    padding: 5px;
    
  }

  input {
    border: solid 1px #000000;
    width: calc(100% - 20px);
    height: 40px;
    padding: 5px 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 20px;
  }

  input[type="submit"] {
    border: solid 3px #000000;
    width: 100%;
    background-color: #00686a;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
    height: 45px;
    border-radius: 5px;
  }

  input[type="submit"]:hover {
    background-color: #0056b3;
  }

  #submitBtn {
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

#submitBtn:hover {
    background-color: #0056b3;
    box-shadow: 0 5px 5px rgba(0, 123, 255, 0.5);
}

  input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }

  .form-message {
    color: green;
    font-size: 1.2em;
    margin-top: 20px;
    text-align: center;
  }

  @media screen and (max-width: 600px) {
    .signup-form-container {
      padding: 20px;
    }
  }

.next{
    display: flex;
    gap: 20px;
}

.link{
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    color: white;
}


/* Snowflake Animation */
.snowflake {
  --size: 1vw;
  background: url('https://github.com/Jay-1409/Jay_Shah_Portfolio/blob/main/public/Static/Images/SnowFlake.png?raw=true') no-repeat center center;
  width: calc(4 * var(--size));
  height: calc(4 * var(--size));
  background-size: cover;
  position: absolute;
  top: -5vh;
  z-index: -1;
  animation: snowfall 100s linear infinite;
}

@keyframes snowfall {
  0% {
    transform: translate3d(var(--left-ini), 0, 0);
  }
  100% {
    transform: translate3d(var(--left-end), 80vh, 0);
  }
}

.snowflake:nth-child(1) {
  --size: 0.8vw;
  --left-ini: 4vw;
  --left-end: 2vw;
  left: 55vw;
  animation: snowfall 18s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(2) {
  --size: 0.8vw;
  --left-ini: 5vw;
  --left-end: 5vw;
  left: 63vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(3) {
  --size: 0.2vw;
  --left-ini: 0vw;
  --left-end: -3vw;
  left: 17vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(4) {
  --size: 0.2vw;
  --left-ini: -5vw;
  --left-end: 10vw;
  left: 66vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(5) {
  --size: 0.6vw;
  --left-ini: -6vw;
  --left-end: 3vw;
  left: 39vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(6) {
  --size: 0.4vw;
  --left-ini: 2vw;
  --left-end: 3vw;
  left: 86vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(7) {
  --size: 0.2vw;
  --left-ini: -1vw;
  --left-end: 7vw;
  left: 87vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(8) {
  --size: 0.6vw;
  --left-ini: -3vw;
  --left-end: 3vw;
  left: 77vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(9) {
  --size: 0.8vw;
  --left-ini: -4vw;
  --left-end: -5vw;
  left: 50vw;
  animation: snowfall 22s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(10) {
  --size: 0.8vw;
  --left-ini: 1vw;
  --left-end: -1vw;
  left: 34vw;
  animation: snowfall 32s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(11) {
  --size: 1vw;
  --left-ini: 4vw;
  --left-end: 4vw;
  left: 29vw;
  animation: snowfall 26s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(12) {
  --size: 0.4vw;
  --left-ini: 9vw;
  --left-end: -1vw;
  left: 100vw;
  animation: snowfall 42s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(13) {
  --size: 0.4vw;
  --left-ini: 8vw;
  --left-end: -2vw;
  left: 86vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(14) {
  --size: 0.8vw;
  --left-ini: -1vw;
  --left-end: -1vw;
  left: 18vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(15) {
  --size: 0.8vw;
  --left-ini: 0vw;
  --left-end: 10vw;
  left: 35vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(16) {
  --size: 1vw;
  --left-ini: 10vw;
  --left-end: -5vw;
  left: 23vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(17) {
  --size: 0.8vw;
  --left-ini: -3vw;
  --left-end: 1vw;
  left: 89vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(18) {
  --size: 0.8vw;
  --left-ini: 8vw;
  --left-end: 6vw;
  left: 33vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(19) {
  --size: 0.6vw;
  --left-ini: -1vw;
  --left-end: 1vw;
  left: 26vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(20) {
  --size: 0.4vw;
  --left-ini: 7vw;
  --left-end: -9vw;
  left: 75vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(21) {
  --size: 0.2vw;
  --left-ini: -2vw;
  --left-end: -7vw;
  left: 81vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(22) {
  --size: 0.6vw;
  --left-ini: 9vw;
  --left-end: -7vw;
  left: 75vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(23) {
  --size: 0.2vw;
  --left-ini: 7vw;
  --left-end: -9vw;
  left: 28vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(24) {
  --size: 1vw;
  --left-ini: 5vw;
  --left-end: 8vw;
  left: 17vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(25) {
  --size: 0.8vw;
  --left-ini: -7vw;
  --left-end: 5vw;
  left: 29vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(26) {
  --size: 0.8vw;
  --left-ini: 10vw;
  --left-end: -8vw;
  left: 19vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(27) {
  --size: 1vw;
  --left-ini: 5vw;
  --left-end: 7vw;
  left: 71vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(28) {
  --size: 0.8vw;
  --left-ini: -2vw;
  --left-end: 5vw;
  left: 96vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(29) {
  --size: 0.4vw;
  --left-ini: 8vw;
  --left-end: -5vw;
  left: 67vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(30) {
  --size: 0.4vw;
  --left-ini: 9vw;
  --left-end: -1vw;
  left: 14vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(31) {
  --size: 0.8vw;
  --left-ini: 9vw;
  --left-end: -6vw;
  left: 38vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(32) {
  --size: 0.2vw;
  --left-ini: -1vw;
  --left-end: -3vw;
  left: 96vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(33) {
  --size: 0.6vw;
  --left-ini: 1vw;
  --left-end: 0vw;
  left: 10vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(34) {
  --size: 0.6vw;
  --left-ini: 8vw;
  --left-end: -9vw;
  left: 73vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(35) {
  --size: 0.6vw;
  --left-ini: 10vw;
  --left-end: -8vw;
  left: 53vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(36) {
  --size: 0.8vw;
  --left-ini: 1vw;
  --left-end: -7vw;
  left: 62vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(37) {
  --size: 0.2vw;
  --left-ini: -4vw;
  --left-end: 8vw;
  left: 47vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(38) {
  --size: 0.8vw;
  --left-ini: 5vw;
  --left-end: 5vw;
  left: 4vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(39) {
  --size: 0.8vw;
  --left-ini: 3vw;
  --left-end: -2vw;
  left: 29vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(40) {
  --size: 1vw;
  --left-ini: -5vw;
  --left-end: -6vw;
  left: 65vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(41) {
  --size: 0.6vw;
  --left-ini: -6vw;
  --left-end: 3vw;
  left: 52vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(42) {
  --size: 0.2vw;
  --left-ini: 5vw;
  --left-end: -9vw;
  left: 48vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(43) {
  --size: 1vw;
  --left-ini: 0vw;
  --left-end: -3vw;
  left: 44vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(44) {
  --size: 0.4vw;
  --left-ini: 5vw;
  --left-end: 7vw;
  left: 20vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(45) {
  --size: 0.8vw;
  --left-ini: 4vw;
  --left-end: 7vw;
  left: 78vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(46) {
  --size: 0.4vw;
  --left-ini: -4vw;
  --left-end: 3vw;
  left: 63vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(47) {
  --size: 0.6vw;
  --left-ini: -7vw;
  --left-end: -7vw;
  left: 19vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(48) {
  --size: 0.8vw;
  --left-ini: -4vw;
  --left-end: 4vw;
  left: 47vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(49) {
  --size: 0.2vw;
  --left-ini: 10vw;
  --left-end: -1vw;
  left: 43vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(50) {
  --size: 0.6vw;
  --left-ini: -4vw;
  --left-end: 7vw;
  left: 86vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -2s;
}
.snowflake:nth-child(51) {
  --size: 0.6vw;
  --left-ini: -7vw;
  --left-end: -7vw;
  left: 19vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(52) {
  --size: 0.8vw;
  --left-ini: -4vw;
  --left-end: 4vw;
  left: 47vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(53) {
  --size: 0.2vw;
  --left-ini: 10vw;
  --left-end: -1vw;
  left: 43vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(54) {
  --size: 0.6vw;
  --left-ini: -4vw;
  --left-end: 7vw;
  left: 86vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(55) {
  --size: 0.6vw;
  --left-ini: -4vw;
  --left-end: 7vw;
  left: 86vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -2s;
}
