body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #151837, #de3168);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .signup-form-container {
    background-color: white;
    width: 100%;
    max-width: 400px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
  }

  h2 {
    text-align: center;
    color: #007bff;
    font-size: 2.5em;
    margin-bottom: 20px;
  }

  label {
    
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
    display: block;
    border-radius: 20px;
    padding: 5px;
    
  }

  input {
    border: solid 1px #000000;
    width: calc(100% - 20px);
    height: 40px;
    padding: 5px 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 20px;
  }

  input[type="submit"] {
    border: solid 3px #000000;
    width: 100%;
    background-color: #007bff;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
    height: 45px;
    border-radius: 5px;
  }

  input[type="submit"]:hover {
    background-color: #0056b3;
  }

  #submitBtn {
    margin-top: 20px;
    border-radius: 20px;
    padding: 20px;
align-items: center;
justify-content: center;
}

#submitBtn:hover {
    background-color: #0056b3;
    box-shadow: 0 5px 5px rgba(0, 123, 255, 0.5);
}

  input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }

  .form-message {
    color: green;
    font-size: 1.2em;
    margin-top: 20px;
    text-align: center;
  }

  @media screen and (max-width: 600px) {
    .signup-form-container {
      padding: 20px;
    }
  }

.next{
    display: flex;
    gap: 20px;
}

.link{
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    color: white;
}