@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-7px);
  }
  60% {
      transform: translateY(-1px);
  }
}

body {
  font-family: 'Quicksand', sans-serif;
  background: linear-gradient(135deg, #2d0232, #0d0722);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

section {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

section::before {
  content: '';
  position: absolute;
}

.signup-form-container {
  background-color: #d5e0e1; 
  width: 100%;
  max-width: 400px;
  padding: 40px;
  border-radius: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: background-color 1s ease;
}

h2 {
  text-align: center;
  color: #2C3E50;
  font-size: 2.5em;
  margin-bottom: 20px;
}

label {
  font-size: 1.2em;
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

input {
  border: solid 1px #000000;
  width: 100%;
  height: 40px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  font-size: 1em;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

input[type="submit"] {
  border: none;
  width: 100%;
  background-color: #3752e9;
  color: white;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  height: 45px;
  border-radius: 20px;
}

input[type="submit"]:hover {
  background-color: #0d11da;
  transform: scale(1.05);
}

.form-message {
  color: green;
  font-size: 1.2em;
  margin-top: 20px;
  text-align: center;
}

.link {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
}

.link a {
  background-color: #3752e9;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.link a:hover {
  background-color: #0d11da;
}

@media screen and (max-width: 600px) {
  .signup-form-container {
    padding: 20px;
  }
}


.snowflake {
  --size: 1vw;
  background: url('https://github.com/Jay-1409/Jay_Shah_Portfolio/blob/main/public/Static/Images/SnowFlake.png?raw=true') no-repeat center center;
  width: calc(4 * var(--size));
  height: calc(4 * var(--size));
  background-size: cover;
  position: absolute;
  top: -5vh;
  z-index: -1;
  animation: snowfall 100s linear infinite;
}

@keyframes snowfall {
  0% {
    transform: translate3d(var(--left-ini), 0, 0);
  }
  100% {
    transform: translate3d(var(--left-end), 80vh, 0);
  }
}


.snowflake:nth-child(1) {
  --size: 0.8vw;
  --left-ini: 4vw;
  --left-end: 2vw;
  left: 55vw;
  animation: snowfall 18s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(2) {
  --size: 0.8vw;
  --left-ini: 5vw;
  --left-end: 5vw;
  left: 63vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -7s;
}


